.grid-container {
  margin: 20px;
  width: 60%;
  margin: 0 auto;
  
}

.dashboard-card {
  position: absolute;
  margin: 0 auto;
  left: 15px;
  right: 15px;
  padding-bottom: 50px;
}

.header-title {
  position: absolute;
  right: 0px;
  top: 0px;
}

.dashboard-card-content {
  padding-top: 50px;
}

 input[type=text],[type=email] {
  width: 47%;
}


.left, .right {
  float: left;
  width: 50%;
}

.float-input{
  width: 97%;
}

.left input[type=text]{
  width: 98%;
}
.right input[type=text]{
  width: 98%;
}

select {
  width: 98%;
  height: 22px;
}

.example-form {
  width: 100% !important;
}

.full-width {
  width: 98.5% ;
}

.required-field {
  border-color: brown !important;
}