
.sidenav-container {

}


.fill-remaining-space {
  flex: 1 1 auto !important;
}

.top-bar {
  float: left;
  background-color: #4B81BD;
  color: white;
  height: 50px;
}


.top-bar a {
  color: white;
  padding-right: .5em;
  padding-left: .5em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: small;
}

.grid-container {
  
  width: 100%;
  margin: 0px;
}

.panel {
  margin-top: 20px;
  width: 95%;
}


::ng-deep .mat-grid-list .mat-figure {
  align-items: flex-start !important;
}

.panel-header {
  border-bottom: 1px solid rgba(0,0,0,.05);
  height: 48px !important;
}

.panel-content {
  margin-top: 15px;
}
.expansion-panel {
  border-top: 1px solid #4B81BD;
}

.gradient-light-blue-cyan {
  background-image: -webkit-linear-gradient(25deg, #43B8BF, #D9CFD7);
  background-image: -moz- oldlinear-gradient(25deg, #43B8BF, #D9CFD7);
  background-image: -o-linear-gradient(25deg, #43B8BF, #D9CFD7);
  background-image: linear-gradient(25deg, #43B8BF, #D9CFD7);
  background-repeat: repeat-x;
}
