<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar class="top-bar">
      <span class="fill-remaining-space"></span>
      <span><a href="#">Profile</a></span>
      <span><a href="#">John Doe</a></span>
    </mat-toolbar>
  </mat-sidenav-content>
  
</mat-sidenav-container>

<div class="grid-container">
  <mat-toolbar>Dashboard of John</mat-toolbar>
  <div>
    <mat-grid-list cols="3" rowHeight="2:1" color="lightblue">
      <mat-grid-tile>
        <mat-accordion class="panel">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Customer
              </mat-panel-title>
              <mat-panel-description>
                Type your name and age
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field>
              <input matInput placeholder="First name">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Age">
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-accordion class="panel">
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Corporate Customer
              </mat-panel-title>
              <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-accordion class="panel">
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Account
              </mat-panel-title>
              <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-accordion class="panel">
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Account
              </mat-panel-title>
              <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
