.grid-container {
  width: 60%;
  margin: 0 auto;
  background-color: transparent;
  margin-top: 100px;
  padding-bottom: 50px;
}

.dashboard-card {
  position: absolute;
  margin: 0 auto;
  left: 15px;
  right: 15px;
  padding-bottom: 50px;
}

.header-title {
  background-color: #5290C2;
  position: absolute;
  right: 0px;
  top: 0px;
  color: white;
}

.dashboard-card-content {
  padding-top: 60px;
}

 input[type=text],[type=email] {
  width: 47%;
}


.left, .right {
  float: left;
  width: 50%;
}

.float-input{
  width: 97%;
}

.left input[type=text]{
  width: 98%;
}
.right input[type=text]{
  width: 98%;
}

select {
  width: 98%;
  height: 22px;
}

.form {
  width: 100% !important;
}

.full-width {
  width: 98.5% ;
}

.required-field {
  border-color: darkcyan !important;
}

.input-field {

}
/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: darkcyan !important;
}
/* Font color */
input.mat-input-element {
  color: rgba(0,0,0,.60) !important;
}
/*cursor color*/
/*.mat-input-element {
  caret-color: pink !important;
}*/

.mat-form-field-infix {

}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgba(0,0,0,.20) !important;
}
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #f44336 !important;
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #3F51B5 !important;
}


::ng-deep .mat-form-field-appearance-outline .mat-select-placeholder {
  color: rgba(0,0,0,.60) !important;
}
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid .mat-select-placeholder {
  color: #f44336 !important;
}

::ng-deep .mat-select-value {
  color: rgba(0,0,0,.60) !important;
}
