<app-navbar></app-navbar>

<div class="grid-container">
  <p>Fields required for input are marked with <span style="color: red">*</span></p>
  <mat-card>
    <mat-card-header>
      <mat-toolbar class="header-title"><i class="fa fa-user-plus fa-fw " style="font-size:16px; margin-right:4px"></i>  New Customer Sign-Up</mat-toolbar>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <!--<form form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)"></form>-->
      <form [formGroup]="regiForm" class="form">
        <div>
          <mat-form-field appearance="outline" class="full-width input-field">
            <mat-label>Email: <span style="color: red">*</span></mat-label>
            <input matInput placeholder="Email" formControlName="emailControl" autocomplete="on">
            <mat-error *ngIf="regiForm.controls['emailControl'].dirty && regiForm.controls['emailControl'].invalid; else error">
              Please enter a valid email address
            </mat-error>
            <ng-template #error>
              <mat-error>
                Email is <strong>required</strong>
              </mat-error>
            </ng-template>
          </mat-form-field>
        </div>
        <div style="clear:both;"></div>
        <div>
          <mat-form-field appearance="outline" class="full-width input-field">
            <mat-label>Confirm Email: <span style="color: red">*</span></mat-label>
            <input matInput placeholder="Email" formControlName="emailControl">
          </mat-form-field>
        </div>
        <div style="clear:both;"></div>

        <div>
          <mat-form-field appearance="outline" class="full-width input-field">
            <mat-label>Customer Type: <span style="color: red">*</span></mat-label>
            <mat-select placeholder="Customer Type" name="customerType" formControlName="customerTypeControl">
              <mat-option *ngFor="let customerType of customerTypes" value="customerType.index">
                {{ customerType }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="regiForm.controls['customerTypeControl'].touched">
              Customer Type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div style="clear:both;"></div>
        <div class="left">
          <mat-form-field appearance="outline" class="float-input">
            <mat-label>First Name:</mat-label>
            <input matInput placeholder="First Name" name="firstName" formControlName="firstNameControl">
          </mat-form-field>
        </div>
        <div class="right">
          <mat-form-field appearance="outline" class="float-input">
            <mat-label>Last Name:</mat-label>
            <input matInput placeholder="Last Name" name="lastName" formControlName="lastNameControl">
          </mat-form-field>
        </div>
        <div style="clear:both;"></div>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Company Name:</mat-label>
            <input matInput placeholder="Company Name" name="companyName" formControlName="companyNameControl">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Address: <span style="color: red">*</span></mat-label>
            <input matInput placeholder="Address" name="address" formControlName="addressControl">
            <mat-error *ngIf="regiForm.controls['addressControl'].touched">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>City: <span style="color: red">*</span></mat-label>
            <input matInput placeholder="City" name="city" formControlName="cityControl">
            <mat-error *ngIf="regiForm.controls['cityControl'].touched">
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Province: <span style="color: red">*</span></mat-label>
            <input matInput placeholder="Province" name="province" formControlName="provinceControl">
            <mat-error *ngIf="regiForm.controls['provinceControl'].touched">
              Province is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Postal: <span style="color: red">*</span></mat-label>
            <input matInput placeholder="Postal" name="postal" formControlName="postalControl">
            <mat-error *ngIf="regiForm.controls['postalControl'].touched">
              Postal is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="left">
          <mat-form-field appearance="outline" class="float-input">
            <mat-label>Phone 1: <span style="color: red">*</span></mat-label>
            <input matInput placeholder="Phone 1" name="phone1" formControlName="phone1Control">
            <mat-error *ngIf="regiForm.controls['phone1Control'].touched">
              Phone 1 is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="right">
          <mat-form-field appearance="outline" class="float-input">
            <mat-label>Phone 1 Type: <span style="color: red">*</span></mat-label>
            <mat-select placeholder="Phone 1 Type" name="phone1Type" formControlName="phone1TypeControl">
              <mat-option *ngFor="let phoneType of phoneTypes" value="phoneType.index">
                {{ phoneType }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="regiForm.controls['phone1TypeControl'].touched">
              Phone 1 Type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div style="clear:both;"></div>
        <div class="left">
          <mat-form-field appearance="outline" class="float-input">
            <mat-label>Phone 2:</mat-label>
            <input matInput placeholder="Phone2" formControlName="phone2Control">
          </mat-form-field>
        </div>
        <div class="right">
          <mat-form-field appearance="outline" class="float-input">
            <mat-label>Phone 2 Type</mat-label>
            <mat-select placeholder="Phone 2 Type" name="phone2Type" formControlName="phone2TypeControl">
              <mat-option *ngFor="let phoneType of phoneTypes" value="phoneType.index">
                {{ phoneType }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="clear:both;"></div>
        <div class="left">
          <mat-form-field appearance="outline" class="float-input">
            <mat-label>Phone 3:</mat-label>
            <input matInput placeholder="Phone3" formControlName="phone3Control">
          </mat-form-field>
        </div>
        <div class="right">
          <mat-form-field appearance="outline" class="float-input">
            <mat-label>Phone 3 Type</mat-label>
            <mat-select placeholder="Phone3 Type" name="phone3Type" formControlName="phone3TypeControl">
              <mat-option *ngFor="let phoneType of phoneTypes" value="phoneType.index">
                {{ phoneType }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="clear:both;"></div>
        <div class="left">
          <mat-form-field appearance="outline" class="float-input">
            <mat-label>Security Question: <span style="color: red">*</span></mat-label>
            <mat-select placeholder="Security Question" name="securityQuestions" formControlName="securityQuestionControl">
              <mat-option *ngFor="let securityQuestion of securityQuestions" value="securityQuestion.index">
                {{ securityQuestion }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="regiForm.controls['securityQuestionControl'].touched">
              Security Question is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="right">
          <mat-form-field appearance="outline" class="float-input">
            <mat-label>Answer: <span style="color: red">*</span></mat-label>
            <input matInput placeholder="Answer" formControlName="answerControl">
            <mat-error *ngIf="regiForm.controls['answerControl'].touched">
              Answer is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div style="clear:both;"></div>
        <br>
        <button mat-stroked-button [disabled]='regiForm.invalid' style="margin-right:2%" color="primary">
          <i class="fa fa-sign-in fa-fw"></i>Sign Up
        </button>
        <button mat-stroked-button><i class="fa fa-close fa-fw" style="margin-bottom:3px"></i>Cancel</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

