.sidenav-container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.1);
  background-color: white;
}

/*.sidenav {
  width: 200px;
}*/

/*.mat-toolbar.mat-primary {
  
  background-color: white;
  color: black;
  top: 0;
}*/

.fill-remaining-space {
  flex: 1 1 auto !important;
}

.ic-container-fluid {
  position: relative;
  width: 94%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}

a {
  padding-right: .5em;
  padding-left: .5em;
  text-decoration: none;
}

@media (min-width: 767px) {
  .top-bar {
    text-align: right;
    padding: 1rem 0 .75rem;
    display: block;
    /*font-size: .875rem !important;*/
    text-transform: uppercase;
    background-color: #333;
  }

    .top-bar a {
      /*font-size: .875rem !important;*/
      margin-right: 1.5rem;
      line-height: 1.0;
      font-weight: 400;
      text-decoration: none;
      color: #d3d3d3;
    }

  #feedback {
    background: url('../../assets/images/icon-chat.svg') left center no-repeat;
    background-size: auto 1.5rem;
    padding-left: 2.25rem;
  }

  #translate {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: url('../../assets/images/icon-globe.svg') left center no-repeat;
    background-size: auto 1.5rem;
    padding-left: 1.25rem;
  }

  #inner-header {
    display: table;
    background-color: transparent;
    padding: 1rem 0 1rem 0;
  }

  #logo {
    margin: .25rem 0 .25rem 0;
  }
  #logo img{
    width: 305px;
    height: auto;
    max-height: 100%;
    vertical-align: middle;
  }
  #main-nav {
    position: relative;
    display: block !important;
    box-shadow: none;
    width: 100%;
    
  }
}

#header-left {
    display: table-cell;
    vertical-align: middle;
  }

  #header-right {
    display: table-cell;
    vertical-align: middle;
  }

ul#nav {
  display: table;
  table-layout: fixed;
  width: 100%;
  list-style: none;
  margin-top: 1rem;
}

ul#nav li {
    display: table-cell;
    line-height: 1.25;
    border: solid #d3d3d3;
    border-width: 0 0 0 1px;
    color: #0078ae !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    background-color: transparent;
  }
  ul#nav li:first-child {
    border-right-color: transparent;
    border-left-color: transparent;
  }
#nav a {
  padding: 4.25rem .675rem 0;
  min-height: 80px;
  text-align: center;
  background-position: center top;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  display: block;
  text-overflow: ellipsis;
  color: #0078ae !important;
  overflow: hidden;
}


li#navTab01 a {
  background: url('../../assets/images/navIcon_01.svg') center top no-repeat;
}

#navTab02 {
  background: url('../../assets/images/navIcon_02.svg') center top no-repeat;
}

#navTab03 {
  background: url('../../assets/images/navIcon_03.svg') center top no-repeat;
}

#navTab04 {
  background: url('../../assets/images/navIcon_04.svg') center top no-repeat;
}

#navTab05 {
  background: url('../../assets/images/navIcon_05.svg') center top no-repeat;
}

#navTab06 {
  background: url('../../assets/images/navIcon_06.svg') center top no-repeat;
}
/*.lower-bar {
  background-color: white;
  color: darkblue;
  height: 63px;
  border-bottom: 1px solid #5290C2;
}



.lower-bar a {
  font-weight: lighter;
  font-size: medium;
}

.vl {
  border-left: .5px solid #5290C2;
  height: 50px;
}*/
