<div class="grid-container">
  <mat-card>
    <mat-card-header>
      <mat-toolbar class="header-title">People</mat-toolbar>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      
      <mat-card class="form-feild-card">
        <mat-card-header>
          <mat-toolbar class="header-title within-header-title">Region of Waterloo ()</mat-toolbar>
        </mat-card-header>

        <mat-card-content class="table-overflow">
          <table style="table-layout:fixed; width: 100%">
            <ng-container>
              <tr>
                <td width="30%" class="align-right">
                  <mat-label>Contact </mat-label>
                  <mat-form-field appearance="outline" style="width: 88%">
                    <input matInput>
                  </mat-form-field>
                </td>
                <td width="15%" class="align-right">
                  <mat-label>Phone </mat-label>
                  <mat-form-field appearance="outline" style="width: 80%">
                    <input matInput>
                  </mat-form-field>
                </td>
                <td width="12%" class="align-right">
                  <mat-label>Type </mat-label>
                  <mat-form-field appearance="outline" style="width: 75%">
                    <input matInput>
                  </mat-form-field>
                </td>
                <td width="13%" class="align-right">
                  <mat-label>Row ID </mat-label>
                  <mat-form-field appearance="outline" style="width: 65%">
                    <input matInput>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td width="30%" class="align-right">
                  <mat-label>Org </mat-label>
                  <mat-form-field appearance="outline" style="width: 88%">
                    <input matInput>
                  </mat-form-field>
                </td>
                <td width="15%" class="align-right">
                  <mat-label>Email </mat-label>
                  <mat-form-field appearance="outline" style="width: 80%">
                    <input matInput>
                  </mat-form-field>
                </td>
                <td width="12%" class="align-right">
                  <mat-label>Status </mat-label>
                  <mat-form-field appearance="outline" style="width: 75%">
                    <input matInput>
                  </mat-form-field>
                </td>
                <td width="13%" class="align-right">
                  <mat-label>Parent ID </mat-label>
                  <mat-form-field appearance="outline" style="width: 65%">
                    <input matInput class="input-height">
                  </mat-form-field>
                </td>
              </tr>
            </ng-container>
          </table>
        </mat-card-content>
      </mat-card>

      <mat-card  class="form-feild-card">
        <mat-card-header>
          <mat-toolbar class="header-title within-header-title">Address</mat-toolbar>
        </mat-card-header>
        <mat-card-content>
          <table style="table-layout:fixed; width: 100%">
            <ng-container>
              <tr>
                <td colspan="3" class="align-right">
                  <mat-label>Add. Prefix </mat-label>
                  <mat-form-field appearance="outline" style="width: 90.5%">
                    <input matInput>
                  </mat-form-field>
                </td>
              </tr>

              <tr>
                <td width="25%" class="align-right">
                  <mat-label>Street# </mat-label>
                  <mat-form-field appearance="outline" style="width: 71%">
                    <input matInput>
                  </mat-form-field>
                </td>
                <td width="25%" class="align-right">
                  <mat-label>Unit Type </mat-label>
                  <mat-form-field appearance="outline" style="width: 70%">
                    <mat-select>
                      <mat-option>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td width="25%" class="align-right">
                  <mat-label>Unit# </mat-label>
                  <mat-form-field appearance="outline" style="width: 72%">
                    <input matInput>
                  </mat-form-field>
                </td>
                <td width="25%"></td>
              </tr>

              <tr>
                <td width="25%" class="align-right">
                  <mat-label>Street Name </mat-label>
                  <mat-form-field appearance="outline" style="width: 71%">
                    <input matInput>
                  </mat-form-field>
                </td>
                <td width="25%" class="align-right">
                  <mat-label>Prefix </mat-label>
                  <mat-form-field appearance="outline" style="width: 70%">
                    <input matInput>
                  </mat-form-field>
                </td>
                <td width="25%" class="align-right">
                  <mat-label>Type </mat-label>
                  <mat-form-field appearance="outline" style="width: 72%">
                    
                    <mat-select>
                      <mat-option>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td width="25%" class="align-right">
                  <mat-label>Direction </mat-label>
                  <mat-form-field appearance="outline" style="width: 71%">
                    <input matInput>
                  </mat-form-field>
                </td>
              </tr>

              <tr>
                <td width="25%" class="align-right">
                  <mat-label>City </mat-label>
                  <mat-form-field appearance="outline" style="width: 71%">
                    <mat-select>
                      <mat-option>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td width="25%" class="align-right">
                  <mat-label>Country </mat-label>
                  <mat-form-field appearance="outline" style="width: 70%">
                    <input matInput>
                  </mat-form-field>
                </td>
                <td width="25%" class="align-right">
                  <mat-label>Community </mat-label>
                  <mat-form-field appearance="outline" style="width: 72%">
                    <input matInput>
                  </mat-form-field>
                </td>
                <td width="25%"></td>
              </tr>

              <tr>
                <td width="25%" class="align-right">
                  <mat-label>Postal Code </mat-label>
                  <mat-form-field appearance="outline" style="width: 71%">
                    <input matInput>
                  </mat-form-field>
                </td>
                <td width="25%" class="align-right">
                  <mat-label>Province </mat-label>
                  <mat-form-field appearance="outline" style="width: 70%">
                    <mat-select>
                      <mat-option>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td width="25%" class="align-right">
                  <mat-label>Country </mat-label>
                  <mat-form-field appearance="outline" style="width: 72%">
                    <mat-select>
                      <mat-option>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td width="25%"></td>
              </tr>

            </ng-container>
          </table>
        </mat-card-content>
      </mat-card>
      
      <mat-card class="form-feild-card">
        <mat-card-header>
          <mat-toolbar class="header-title within-header-title">Free Form Address</mat-toolbar>
        </mat-card-header>
        <mat-card-content>
          <table style="table-layout:fixed; width:100%">
            <ng-container>
              <tr style="width:100%">
                <td class="align-right">
                  <mat-label>Line 1 </mat-label>
                  <mat-form-field appearance="outline" style="width: 90.5%">
                    <input matInput>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td width="100%" class="align-right">
                  <mat-label>Line 2 </mat-label>
                  <mat-form-field appearance="outline" style="width: 90.5%">
                    <input matInput>
                  </mat-form-field>
                </td>
              </tr>
              <tr style="width:100%">
                <td class="align-right">
                  <mat-label>Line 3 </mat-label>
                  <mat-form-field appearance="outline" style="width: 90.5%">
                    <input matInput>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td width="100%" class="align-right">
                  <mat-label>Line 4 </mat-label>
                  <mat-form-field appearance="outline" style="width: 90.5%">
                    <input matInput>
                  </mat-form-field>
                </td>
              </tr>
              <tr style="width:100%">
                <td class="align-right">
                  <mat-label>Line 5 </mat-label>
                  <mat-form-field appearance="outline" style="width: 90.5%">
                    <input matInput>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td width="100%" class="align-right">
                  <mat-label>Line 6 </mat-label>
                  <mat-form-field appearance="outline" style="width: 90.5%">
                    <input matInput>
                  </mat-form-field>
                </td>
              </tr>
            </ng-container>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
